{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="parallaxOffset no-padding fixedContent contact-intro">
        <div class="w100 map">
            <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.9085897991167!2d37.4893163161241!3d55.69057698053675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54c4eb1ae1793%3A0x93e14888143d8e3a!2z0YPQuy4g0KDQsNC80LXQvdC60LgsIDE2!5e0!3m2!1sru!2stw!4v1521964785848"></iframe>
        </div>
    </div>
    <div class="wrapper whitebg contact-us">
        <div class="container main-container ">
            <div class="row innerPage">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row userInfo">
                        <div class="col-xs-12 col-sm-12">
                            <h1 class="title-big text-center section-title-style2">
                                <span> О нашем магазине </span>
                            </h1>
                            <p class="lead text-center">
                                Добро пожаловать в комиссионный магазин на Раменках!
                                Наш магазин готов вам предложить услуги по реализации разных товаров. Также вы можете приобрести у нас одежду, обувь и посуду по доступным ценам.
                            </p>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <h3 class="block-title-5">
                                        Условия приёма вещей в комиссию:
                                    </h3>
                                    <br>
                                    <ul>
                                        <li type="disc">Вещи принимаются <strong>с 11:00 до 19:00 при наличии паспорта</strong></li>
                                        <li type="disc">Комиссионный сбор составляет <strong>30%</strong> от продажи стоимости товара</li>
                                        <li type="disc">Возврат товара осуществляется <strong>безвозмездно(бесплатно) - 0%</strong> за хранение вещей</li>
                                        <li type="disc">Деньги выплачиваются на <strong>второй и третий день</strong> после реализации товара <strong>по паспорту</strong></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <h3 class="block-title-5">
                                        Наш магазин принимает в комиссию:
                                    </h3>
                                    <br>
                                    <ul>
                                        <li type="disc"><strong>Одежду, обувь, сумки</strong> известных брендов и других производителей</li>
                                        <li type="disc"><strong>Бижутерию</strong> "советского" периода и современных дизайнеров</li>
                                        <li type="disc"><strong>Стекло, фарфор, хрусталь</strong></li>
                                        <li type="disc">Изделия из <strong>бронзы, латуни и мельхиора</strong></li>
                                        <li type="disc">Сервизы, вазы, статуэтки <strong>40-х, 50-х, 60-х годов</strong></li>
                                        <li type="disc"><strong>Картины</strong></li>
                                    </ul>
                                </div>
                                <div style="clear:both"></div>
                                <hr>
                                <div style="clear:both"></div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <h3 class="block-title-5">
                                        Наши контакты:
                                    </h3>
                                    <p>
                                        <br>
                                        <strong>
                                        Номер телефона
                                        </strong>
                                        : +7-929-513-51-83
                                        <br>
                                        <strong>
                                        Наш адрес
                                        </strong>
                                        : г. Москва, ул. Раменки д. 16
                                        <br>
                                        <strong>
                                        Мы работаем:
                                        </strong>
                                        <ul>
                                            <li type="disc"><strong>Будние дни</strong>: с 11:00 до 20:00 без обеденного перерыва</li>
                                            <li type="disc"><strong>Суббота</strong>: с 11:00 до 20:00 без обеденного перерыва</li>
                                            <li type="disc"><strong>Воскресенье</strong>: с 11:00 до 20:00 без обеденного перерыва</li>
                                        </ul>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}
