<div class="gap"></div>
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> Наши контакты </h3>
                    <ul>
                        <li class="supportLi">
                            <p> Телефон </p>
                            <h4><a class="inline" href="callto:+7-929-513-51-83"> <strong> <i class="fas fa-phone"> </i> +7-929-513-51-83 </strong> </a></h4>
                            <p> Наш адрес</p>
                            <h4>г. Москва, ул. Раменки д. 16 </h4>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Каталог </h3>
                    <ul>
                        <li><a href="#">
                            Одежда
                        </a></li>
                        <li><a href="#">
                            Обувь</a></li>
                        <li><a href="#">
                            Сумки и ремни
                        </a></li>
                        <li><a href="#">Картины
                        </a></li>
                        <li><a href="#">
                            Посуда
                        </a></li>

                    </ul>

                </div>

                <div style="clear:both" class="hide visible-xs"></div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3>...</h3>
                    <ul class="list-unstyled footer-nav">
                        <li><a href="#">Металл и бронза
                        </a></li>

                        <li><a href="#">Хрусталь
                        </a></li>
                        <li><a href="#"> Фарфор
                        </a></li>
                        <li><a href="#"> Прочие товары </a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Информация </h3>
                    <ul>
                        <li><a href="#"> О магазине </a></li>
                    </ul>
                </div>

                <div style="clear:both" class="hide visible-xs"></div>

            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> &copy; Комисcионный магазин на Раменках 2018. Все права защищены. </p>
            <p class="pull-right"> Developed by <a href="https://vk.com/yurialeks">Alekseev Yuri</a><a href="https://vk.com/fut_stat"> (YuPiStudio)</a></p>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>